input, textarea {
  font-family:inherit;
  font-size: inherit;
}

input {
  width:100%;
}

h1{
  font-size: 2em;
  margin-bottom: 50px;
  text-align: center;
}

.col-sm-6{
  max-width:350px;
  margin:auto;
  margin-top: 50px;
}

input[type=text], input[type=password] {
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}


input:required:valid {
  border-color: green;
}


button {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  /* usual styles */
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:10px;
  width:100%;
  padding: 16px 25px;
  margin: 15px auto;
}
