<nav class="navbar">
  <!-- NAVIGATION MENU -->
  <ul class="navbar-nav">
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <!-- HOME -->
      <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>

      <!-- USER -->
      <li *ngIf="authority === 'user'" class="nav-item">
        <a class="nav-link" routerLink="user">User Board</a>
      </li>

      <!-- ADMIN -->
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a routerLink="/all" class="nav-link" routerLinkActive="active">Transaction List</a>
      </li>
      <li *ngIf="authority === 'admin'" class="nav-item">
        <a routerLink="/add" class="nav-link" routerLinkActive="active">Add Transaction</a>
      </li>

      <!-- PM -->
      <li *ngIf="authority === 'pm'" class="nav-item">
        <a class="nav-link" routerLink="pm">PM Board</a>
      </li>

      <!-- LOGIN -->
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>


    </div>
  </ul>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span></span>
  </div>
</footer>
